[submodule "web-engineering/web-engineering/Couply-rebuilding-with-tailwindcss"]
	path = web-engineering/web-engineering/Couply-rebuilding-with-tailwindcss
	url = https://github.com/saeidex/Couply-rebuilding-with-tailwindcss.git
